.scroller .loading{height:60px;line-height:60px;font-size:14px;text-align: center;width: 100%;background-color: #f4f4f4;}
.loading{color:#888;}
.loading .loadingIcon {width:30px;height:30px;margin-right:5px;display:inline-block;vertical-align:middle;margin-bottom: 6px;
    background: url('http://p1.ifengimg.com/auto/image/2016/1028/pull-icon@2x.png') 0 -30px no-repeat;background-size:30px 60px;
    -webkit-transform:rotate(0deg) translateZ(0);
    -webkit-animation-name:loadingIcon;
    -webkit-animation-duration:2s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:linear;
}
.loading .flip {width:30px;height:30px;margin-right:5px;display:inline-block;vertical-align:middle;    margin-bottom: 6px;
    background: url('http://p1.ifengimg.com/auto/image/2016/1028/pull-icon@2x.png') 0 0 no-repeat;background-size:30px 60px;
}
@-webkit-keyframes loadingIcon {
    from { -webkit-transform:rotate(0deg) translateZ(0); }
    to { -webkit-transform:rotate(360deg) translateZ(0); }
}
.scroller{-webkit-overflow-scrolling:touch;}